.user-component,
.user-component__column:first-child {
  display: flex;
  /* position: absolute; */
  top: 70px;
  z-index: -2;
  align-items: center;
  justify-content: space-between;
}

.user-component__column2:last-child {
  color: rgba(0, 0, 0, 0.4);
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component2 {
  justify-content: space-between;
}

.user-component2,
.user-component__column2 {
  display: flex;
  top: 20px;
  z-index: -2;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 24px;
  margin-right: 20px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.user-component__title__not-bold {
  font-weight: 400;
}

.user-compnent_time {
  margin-bottom: 7px;
  display: block;
}
